@media only screen and (orientation: portrait) and  (max-device-width: 768px) {
.name {
	border: none;
	background: none;
	margin: 0;
	position: absolute;
	margin-left: 10%;
	padding-top: 2%;
	color: white;
	font-size: 2em;
	font-family: 'anton';
	text-align: center;
}
.nameDesktop {
	display: none;
}
.headermenu {
	display: none;
}
.nameMobile {
	text-align: center;
	padding-top: 1vh;
	color: white;
	font-family: 'anton';
	font-size: 2em;
}
.burger-menu {

	display: inline-flex;
	flex-direction: row-reverse; 
	background-color: black;
	width: 100vw;
}
.section {
	padding: 5px;
	font-family: sans-serif;
	margin: 0;
	display: flex;
	flex-direction: row-reverse;
}
.menu-btn {
	width: 50px;
	height: 50px;
	display: block;
	border: 1px solid white;
	border-radius: 50%;
	background-color: black;
}
.BigCentre {
	text-align: center;
	padding-top: 25vh;
	color: #ffe2bd;
	font-family: 'Fredoka One', cursive;
}
.BigCentre2 {
	text-align: center;
	color: white;
	font-family: 'Paytone One', sans-serif;
	font-size: 5em;
}
.BigCentre3 {
	color: #d3cdcd;
	text-align: center;
	font-size: 1em;
	font-family: "anton", cursive;
}
.BigCentre4 {
	color: #d3cdcd;
	text-align: center;
	font-size: 1em;
	font-family: "anton", cursive;
}
.TNES_TDP {
	display: block;
	height: 80vh;
}
.TNES {
	background-image: url(images/TNES.jpg);
	background-size: cover;
	background-position: center;
	margin-left: 5vw;
	width: 90vw;
	height: 40vh;
	transition: all 0.3s ease-in-out;
}
.TDP {
	background-image: url(images/Vulkan.jpg);
	background-position: center;
	background-size: cover;
	margin-left: 5vw;
	width: 90vw;
	height: 40vh;
	transition: all 0.3s ease-in-out;
}
.skaf {
	padding-top: 10vh;
	width: 100vw;
	text-align: center;
	background-color: black;
	display: block;
}
.skafL {
	padding-top: 5vh;
	width: 100vw;
}
.skafR {
	text-align: center;
	width: 80vw;
	padding-left: 10vw;
}
.startFooter1 {
	font-size: 1.7em;
}
.startFooter2 {
	font-size: 0.7em;
}
.statistic1 {
	display: block;
}
.logos {
	display: block;
}
}